.checkout{
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: max-content;
}

.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


.checkout_ad{
    width: 100%;

    mask-image: linear-gradient(to bottom,rgba(1,0,0,1), rgba(1,0,0,0));
        z-index: -1;

    margin-bottom: -150px;
}

.checkout_right{
    margin-left: 20px;
}
